:root{
  --cor-0:#FFFFFF;
  --cor-1:#8C98C6;
  --cor-2:#178FF5;
  --cor-3:#1EB589;
  --cor-4:#252B42;
  --cor-5:#DC414C;
  --cor-6:#20222F;
  --cor-7:#1D1F29;
  --cor-8:#333a55;
  --cor-9:#f2f2f2;
  --cor-10:#f7f9ff;
  --cor-11:#848BAB;
  --cor-12:#63687D;
  --cor-13:#979797;
  --cor-14:#f1f3fa;
  --cor-15:#e1e4f0;

}

.cor-0{
  color:var(--cor-0)
}
.cor-1{
  color:var(--cor-1)
}
.cor-2{
  color:var(--cor-2)
}
.cor-3{
  color:var(--cor-3)
}
.cor-4{
  color:var(--cor-4)
}
.cor-5{
  color:var(--cor-5)
}
.cor-6{
  color:var(--cor-6)
}
.cor-7{
  color:var(--cor-7)
}

.cor-8{
  color:var(--cor-8)
}

.cor-9{
  color:var(--cor-9)
}