body{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 0.88rem;
  color:var(--cor-0);
  background-color: var(--cor-7);
  margin: 0px;
}

h1,
h2,
h3,
p{
  margin: 0px;
  padding: 0px;
}
ul{
  list-style: none;
}
ul,
li{
  margin: 0px;
  padding: 0px;
}
span{
  display: inline-block;
}

img{
  max-width: 100%;
}

.mb{
  margin-bottom: 20px;
}