.main{
  
  padding: 20px;
}
.dados-list{
  display: grid;
  max-width: 1100px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
 

 
}


.dados-item{
  display: grid;
  gap: 25px;
  text-align: center;
  padding: 20px 0px;
 
  border-radius: 4px;
}
.main .dados-item:first-child{
  border-top: 3px solid var(--cor-2);
}
.main .dados-item:nth-child(2){
  border-top: 3px solid var(--cor-2);
}
.main .dados-item:nth-child(3){
  border-top: 3px solid var(--cor-5);
}
.main .dados-item:nth-child(4){
  border-top: 3px solid red;
}
.redesocial{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tedencia-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.main{
  box-shadow: inset 0 120px var(--cor-6);
}
.dados-item:hover{
  background-color: var(--cor-8);
}
.dados-item{
 background-color: var(--cor-4);
 }
 .redesocial span{
  color: var(--cor-1);
 }
 .dados-container span{
  color: var(--cor-1);
 }

@media (max-width:1100px){
  .main .dados-list{
  grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:600px){
  .main .dados-list{
  grid-template-columns: 1fr;
  }
}


/* @media (prefers-color-scheme:dark){
  .main{
    box-shadow: inset 0 120px var(--cor-6);
  }
  .dados-item:hover{
    background-color: var(--cor-8);
  }
  .dados-item{
   background-color: var(--cor-4);
   }
   .redesocial span{
    color: var(--cor-1);
   }
   .dados-container span{
    color: var(--cor-1);
   }
} */

/* @media (prefers-color-scheme:light){
  .main{
    box-shadow: inset 0 120px var(--cor-10);
  }
  .dados-item:hover{
    background-color: var(--cor-15);
  }
  .dados-item{
   background-color: var(--cor-14);
   }
   .redesocial span{
    color: var(--cor-12);
   }
   .dados-container span{
    color: var(--cor-12);
   }
} */